#layout {
  display: flex;
  height: 100vh; /* Ocupa toda a altura da tela */
}

.sidebar {
  width: 250px; /* Largura fixa do sidebar */
  background-color: #333;
  color: white;
  padding: 20px;
}

.content {
  flex: 1; /* O conteúdo ocupa o restante do espaço disponível */
  padding-left: 32px;
}
