  <div class="conteudo-principal">
      <div class="barra-superior">
          <div>
              <a href="#">ACESSIBILIDADE</a>
              <a href="#">A-</a>
              <a href="#">A</a>
              <a href="#">A+</a>
              <a href="#">ACESSO À INFORMAÇÃO</a>
          </div>
          <div class="icones-sociais">
              <a href="#"><i class="fab fa-instagram"></i></a>
              <a href="#"><i class="fab fa-facebook"></i></a>
              <a href="#"><i class="fab fa-youtube"></i></a>
          </div>
      </div>
      <div class="container-pesquisa">
          <div class="barra-pesquisa">
              <input type="text" placeholder="Digite sua Busca">
          </div>
          <div class="opcoes-acesso">
              <a href="#"><i class="fa fa-envelope"></i> e-SIC</a>
              <a href="#"><i class="fa fa-comments"></i> Ouvidoria</a>
              <a (click)="redirectTo('/login')"><i class="fa fa-user"></i> Login</a>
          </div>
      </div>


      <div class="barra-laranja">
      </div>
      <div class="secao-conteudo">
          <h2>Emitir Comprovante de Inscrição no CNPJ - Receita Federal</h2>
          <div class="botoes-container">
            <button class="botao-verde"><span class="material-icons">send</span> SOLICITAR</button>
          </div>
          <div class="caixa-info">
              <h3>Sobre</h3>
              <p>EMITIR COMPROVANTE DE INSCRIÇÃO NO CPF - RECEITA FEDERAL</p>
              <a href="#">Leia mais...</a>
          </div>
          <hr>
          <div class="caixa-info">
              <h3>Documentos Necessários</h3>
              <p><strong>ÓRGÃO GESTOR</strong><br>Receita Federal do Brasil - RFB</p>
              <p><strong>Relação de Documentos</strong><br>Ter em mãos as seguintes informações do contribuinte:<br>- Número do CPF;</p>
              <a href="#">Leia mais...</a>
          </div>
          <hr>
          <div class="caixa-info">
              <h3>Informações Adicionais</h3>
              <p>Para declarantes de Imposto de Renda (IRPF), será exigido o número do recibo da declaração IRPF mais recente.</p>
              <p>O comprovante gerado não fornece informações sobre a situação econômica, financeira ou fiscal do titular do CPF, limitando-se a comprovar a inscrição no CPF.</p>
              <a href="#">Leia mais...</a>
          </div>
          <hr>
          <div class="caixa-info">
              <h3>Taxas/Multas</h3>
              <p>Este serviço é gratuito para o cidadão.</p>
              <a href="#">Leia mais...</a>
          </div>
      </div>
  </div>
