<div class="conteudo-principal">
  <div class="barra-superior">
      <div>
          <a href="#">ACESSIBILIDADE</a>
          <a href="#">A-</a>
          <a href="#">A</a>
          <a href="#">A+</a>
          <a href="#">ACESSO À INFORMAÇÃO</a>
      </div>
      <div class="icones-sociais">
          <a href="#"><i class="fab fa-instagram"></i></a>
          <a href="#"><i class="fab fa-facebook"></i></a>
          <a href="#"><i class="fab fa-youtube"></i></a>
      </div>
  </div>
  <div class="container-pesquisa">
      <div class="barra-pesquisa">
          <input type="text" placeholder="Digite sua Busca">
      </div>
      <div class="opcoes-acesso">
          <a href="#"><i class="fa fa-envelope"></i> e-SIC</a>
          <a href="#"><i class="fa fa-comments"></i> Ouvidoria</a>
          <a (click)="redirectTo('/login')"><i class="fa fa-user"></i> Login</a>
      </div>
  </div>


  <div class="barra-laranja">
  </div>
<header>
  <h1>DevNotes</h1>
</header>
<div id="add-note-container">
  <input type="text" id="note-content" placeholder="O que deseja anotar?">
  <button class="add-note">
      <i class="bi bi-plus-lg"></i>
  </button>
</div>
<div id="notes-container">
</div>
