<div class="conteudo-principal">

  <div class="barra-superior">
    <div>
      <a href="#">ACESSIBILIDADE</a>
      <a href="#">A-</a>
      <a href="#">A</a>
      <a href="#">A+</a>
      <a href="#">ACESSO À INFORMAÇÃO</a>
    </div>
    <div class="icones-sociais">

      <a href="#"><i class="fab fa-instagram"></i></a>
      <a href="#"><i class="fab fa-facebook"></i></a>
      <a href="#"><i class="fab fa-youtube"></i></a>
    </div>
  </div>


  <div class="container-pesquisa">
    <div class="barra-pesquisa">
      <input type="text" placeholder="Digite sua Busca" />

    </div>
    <div class="opcoes-acesso">
      <a href="#"><i class="fa fa-envelope"></i> e-SIC</a>
      <a href="#"><i class="fa fa-comments"></i> Ouvidoria</a>
      <a href="#"><i class="fa fa-user"></i> Login</a>
    </div>
  </div>


  <div class="barra-laranja"></div>


  <div class="secao-conteudo">
    <br />
    <br />
    <h2>Ficha de Atendimento Presencial</h2>
    <br />
    <h3>Preencha os Campos Abaixo Para Agendar</h3>
    <form class="formulario-container" #agendamentoForm="ngForm" (ngSubmit)="submitAgendamento(agendamentoForm)">
      <div class="campo-container">
        <label for="nome">Nome Completo:</label>
        <input
          type="text"
          id="nome"
          name="nome"
          placeholder="Digite seu nome completo..."
          required
          ngModel
          #nome="ngModel"
        />

        <div *ngIf="nome.invalid && (nome.touched || nome.dirty)" class="mensagem-erro">
          O campo Nome Completo é obrigatório.
        </div>

        <label for="telefone">Telefone:</label>
        <input
          type="tel"
          id="telefone"
          name="telefone"
          placeholder="(XX) XXXXX-XXXX"
          required
          ngModel
          #telefone="ngModel"
        />

        <div *ngIf="telefone.invalid && (telefone.touched || telefone.dirty)" class="mensagem-erro">
          O campo Telefone é obrigatório.
        </div>
      </div>
      <br />
      <div class="data-hora-container">
        <div>
          <label for="data">Data:</label>
          <input
            type="date"
            id="data"
            name="data"
            required
            ngModel
            #data="ngModel"
          />

          <div *ngIf="data.invalid && (data.touched || data.dirty)" class="mensagem-erro">
            O campo Data é obrigatório.
          </div>
        </div>
        <div>
          <label for="hora">Hora:</label>
          <input
            type="time"
            id="hora"
            name="hora"
            required
            ngModel
            #hora="ngModel"
          />
          
          <div *ngIf="hora.invalid && (hora.touched || hora.dirty)" class="mensagem-erro">
            O campo Hora é obrigatório.
          </div>
        </div>
      </div>
      <br />
      <h4>Lista de documentos necessários no atendimento:</h4>
      <ul>
        <li>Documento com foto (RG)</li>
        <li>Comprovante de residência</li>
        <li>Título de eleitor</li>
      </ul>

      <button type="submit" class="botao-verde"><span class="material-icons">send</span> SOLICITAR</button>
    </form>
  </div>
</div>
