<div class="conteudo-principal">
  <div class="barra-superior">
      <div>
          <a href="#">ACESSIBILIDADE</a>
          <a href="#">A-</a>
          <a href="#">A</a>
          <a href="#">A+</a>
          <a href="#">ACESSO À INFORMAÇÃO</a>
      </div>
      <div class="icones-sociais">
          <a href="#"><i class="fab fa-instagram"></i></a>
          <a href="#"><i class="fab fa-facebook"></i></a>
          <a href="#"><i class="fab fa-youtube"></i></a>
      </div>
  </div>
  <div class="container-pesquisa">
      <div class="barra-pesquisa">
          <input type="text" placeholder="Digite sua Busca">
      </div>
      <div class="opcoes-acesso">
          <a href="#"><i class="fa fa-envelope"></i> e-SIC</a>
          <a href="#"><i class="fa fa-comments"></i> Ouvidoria</a>
      </div>
  </div>

  <div class="barra-laranja"></div>

  <div class="secao-conteudo">

    <h1>Agendamentos</h1>
    <div class="card">
      <p-table [value]="schedules" [tableStyle]="{ 'min-width': '50rem' }">
        <ng-template pTemplate="header">
            <tr>
                <th>Nome</th>
                <th>Data</th>
                <th>Motivo da Solicitação</th>
            </tr>
        </ng-template>
        <ng-template pTemplate="body" let-agendamento>
            <tr>
                <td>{{ agendamento.nome }}</td>
                <td>{{ agendamento.data | date:'dd/MM/yyyy' }}</td>
                <td>{{ agendamento.motivo }}</td>
            </tr>
        </ng-template>
      </p-table>
    </div>
  </div>
</div>
